$logo-width:250px;
$bgColor:black;
$page-bgcolor:#003399;
$color:white;
$table-bg:#fff;
$link-color:#de8500;
$medium-font:1.6em;
$font-family:"Lato", sans-serif;
$cell-padding:15px;
$center:center;
$caption-bgColor:#CC6600;

body{font-family:$font-family;font-size:$medium-font;background-color:$page-bgcolor;}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
  src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
 
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
}

a,a:hover{color:$link-color;text-decoration:none;}
#header,#footer{
	background-color:$bgColor;padding:10px 20px;color:$color;margin-bottom:50px;
}
#footer{margin-bottom:0;margin-top:40px;}
table{
	caption{font-size:1.8em;background-color:$caption-bgColor;color:$color;text-align:$center;}
	td{padding:$cell-padding;}
}

#logo{width:$logo-width;}
#topCampers{
	background-color:$table-bg
}
#recent,#alltime{
	cursor:pointer;display:inline-block;
}
#recent.active{font-weight:bold;}
.glyphicon-circle-arrow-down::before{padding-right:10px;}
#leaderBoard table{
	td,th{padding:15px;}
	tr.odd{background-color:#66FFFF;}
	tr.even{background-color:#CCFFFF;}
}